<html>
    <head>
        <title>Lista de alunos</title>
        <link rel="stylesheet" href="css/jquery.dataTables.css">
        <script
            src="js/jquery-3.4.1.min.js"></script>
        <script
            src="js/jquery.dataTables.js"></script>
    </head>
    <body>
        <h1 style="text-align: center">Lista de alunos</h1>
        <div style="width: 1000px; margin: auto">
            <table id="lista-alunos">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Curso</th>
                        <th>Ano de evasão</th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    <% alunos.forEach(function(aluno) { %>
                        <tr>
                            <td><%= aluno.nome %></td>
                            <td><%= aluno.curso %></td>
                            <td><%= aluno.anoEvasao %></td>
                            <td><%= aluno.empresa %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready( function () {
                $('#lista-alunos').DataTable();
            });
        </script>
    </body>
</html>
